*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}



.header-bar
{
    background-color: rgb(8, 8, 8);
    display: flex;
    padding:10px;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    z-index: 2;
    
    
    
}
.logo-img{
    width: 10em;
    margin-left: 20px;
    margin-top: 10px;
}

.navigation-bar{
    

}
.navigation-bar ul{
    width: 400px;
    padding-top: 25px;
    margin-right: 25px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    


}
.navigation-bar ul li {
    list-style: none;
    position: relative;
    

}

.navigation-bar ul li a{
    text-decoration: none;
    color:rgb(38, 112, 185);
    font-size: 20px;
    font-weight: 500;
    

}
.navigation-bar ul li a::after{
    content: '';
    width:0;
    height: 5px;
    left: 0;
    bottom: -5px;
    border-radius: 3px;
    position: absolute;
    background-color:rgb(38, 112, 185); ;
    transition: 0.5s;

}
.navigation-bar ul li a:hover::after{
    
    width:100%;
   

}


/* ----------Main Page------------ */

.main-page{
    background-color: rgb(17, 18, 19);
    width: 100%;
    height: 100vh;
    background-image: url(/Images/1101618\ -\ Copy\ \(2\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -1px; */
    box-shadow: inset 0px 5px 20px black ;

}
.main-page-content{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 200px ;
}
.main-page-content h1{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 10px;

}
.main-page-content p{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.main-page-content p span{
    color: rgb(0, 100, 201);
    font-weight: 700;
} 





