*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(255, 255, 255);
}
/* -----------------Header Bar--------------------*/
.logo{
    width: 150px;
}
header{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;

}
header nav{
    background-color: rgba(255, 255, 255, 0);
    max-width: 1400px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header ul a{
    text-decoration: none;
    color: #07121aff;
    font-weight: 500;
    font-size: 0.85rem;
    padding: 0 1.5rem;
}

/* -----------------Hero Section--------------------*/

.hero{
    height: 720px;
    background-color: antiquewhite;
    max-width: 1400px;
    margin:0 auto;
    top: 0;
    overflow: hidden;
    position: relative;

}
.bg{
    position: absolute;
    width: 2000px;
    top: 45%; /* changed from calc(50% + 100px) to its percentage*/
    left: calc(50%);
    z-index: 1;
}
.first{
    position: absolute;
    width: 1500px;
    top: calc(50% + 150px);
    left: calc(50%);
    z-index: 2;

}
.text{
    position: absolute;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
    top: calc(50% - 50px);
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    color: #07121aff;
}

.text h2{
    font-weight: 200;
    font-size: 4.5rem;
line-height: 20px;

}
.text h1{
    font-weight: 800;
    font-size: 6rem;


}
.second{
    position: absolute;
    width: 1500px;
    top: calc(50% + 200px);
    left: calc(50%);
    z-index: 4;
    
}
.third{
    position: absolute;
    width: 1500px;
    top: calc(50% + 230px);
    left: calc(50%);
    z-index: 5;
    
}
.fourth{
    position: absolute;
    width: 1500px;
    top: calc(50% + 250px);
    left: calc(50%);
    z-index: 6;
    
}
.fifth{
    position: absolute;
    width: 1500px;
    top: calc(50% + 250px);
    left: calc(50%);
    z-index: 7;
    
}
.parallax{
    pointer-events: none;
    transform: translate(-50%,-50%);
    transition: 0.45s cubic-bezier(.38,.98,.6,.93);
}

/* -----------------About Me--------------------*/


.aboutMe{
    height: 720px;
    background: url(Images/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
    background-position: 0px -30px;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin:0 auto;
    top: 0;
    overflow: hidden;
    position: relative;
    padding-top: 250px;
    padding-left: 200px;
}
.aboutMe h1{
    color: white;
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.aboutMe h2{
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 40px;
}

/* -----------------Skills--------------------*/

.skills{
    height: 720px;
    background: url(Images/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    background-position: 0px -30px;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin:0 auto;
    top: 0;
    overflow: hidden;
    position: relative;
    padding-top: 150px;
    padding-left: 200px;
}
.skills h1{
    color: white;
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.skills h2{
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 40px;
}
.skills h3{
    color: rgb(170, 170, 170);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    width: 65ch;
    margin-bottom: 30px;
}

/* -----------------Projects--------------------*/
.projects{
    height: 720px;
    background: url(Images/ProjectsBG.jpg);
    background-size: cover;
    background-position: 0px -30px;
    background-repeat: no-repeat;
    max-width: 1400px;
    margin:0 auto;
    top: 0;
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    padding-left: 200px;
    padding-right: 100px;
    color: white;
}

.projects h1{
    color: white;
    font-size: 3.2rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.project-container{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
    flex-wrap: wrap;
}
.project-section{
    width: 300px;
    margin: 20px 20px 20px 0px;
    background-color: rgba(0, 0, 0, 0.651);
    padding: 30px;
    transition: 0.3s;
}
.project-section:hover{
    transform: scale(1.2);
    background-color: rgba(187, 25, 33, 0.884);
}

.project-section h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.project-section h3{
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 500;
    
}
.project-section li{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* -----------------Footer--------------------*/
footer{
    height: 200px;
    max-width: 1400px;
    background: url(Images/footerBG1.jpg);
    background-size: cover;
    /* background-color: rgba(0, 0, 0, 0.89); */
    margin: 0 auto;
}
footer h1{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 50px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.svg-inline--fa{
    height: 2em;
}
.icon-cont {
    color: #fff;
}